@font-face {
    font-family: "dinpro";
    src: url("../fonts/dinpro/regular.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "dinpro";
    src: url("../fonts/dinpro/medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "dinpro";
    src: url("../fonts/dinpro/bold.ttf") format("truetype");
    font-weight: 600;
}

html {
    font-family: 'dinpro', 'Roboto', sans-serif;
    font-weight: 200;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 1140px) {
    .container {
        width: 80%;
    }
}

.mypallete {
    background-color: #2e7cb0 !important;
}

.mypallete.lighten {
    background-color: #3e91c9 !important;
}

.mypallete-text {
    color: #2e7cb0 !important;
}

#general-menu {
    padding-left: 80px;
}

#general-menu a:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 20px;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
}

.site-nav a {
    font-size: 1.2rem;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.site-nav .material-icons {
    display: inline-block;
    font-size: 3rem;
}

.side-nav {
    text-align: center;
}

.side-nav .actions {
    float: none !important;
    color: #2e7cb0;
}

.actions {
    height: 64px;
}

.actions ul {
    height: 100%;
}

.actions ul li {
    padding: 0 10px 0 10px;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 601px) {
    .actions .material-icons {
        line-height: 64px;
        height: 64px;
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        padding: 5px 0 0 5px;
    }

    nav .brand-logo img {
        width: 80%;
    }
}

.btn-transparent {
    background: none;
    box-shadow: none;
}

.btn-transparent:hover {
    background: none;
    box-shadow: none;
}

.btn-transparent i.material-icons {
    font-size: 2.5rem;
}

#showFilter {
    position: fixed;
    top: 15px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    color: white;
}

#showFilter .material-icons {
    font-size: 2.5rem;
}

@media screen and (max-width: 602px) {
    #showFilter {
        top: 10px;
        right: 20px;
    }
}

.revert .material-icons {
    font-size: 2.2rem;
}

.section h2 {
    margin: 1.424rem 0 1.424rem 0;
}

.sectionWithBg {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.sectionWithBg-wrap {
    height: 100%;
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.75) 100%);
}

.fullWidth {
    box-sizing: border-box;
    width: 100%;
}

.marg-bot {
    margin-bottom: 10px;
}

.no-marg-bot {
    margin-bottom: 0;
}

.no-marg {
    margin: 0;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

.scrollDown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.map-wrapper {
    height: calc(100% - 95px);
    min-height: 600px;
    position: relative;
}

.map-container {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
}

.map-filter {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}

.map-filter .col {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 600px) {
    .map-filter {
        width: 400px;
        left: 20px;
        padding-top: 40px;
    }
}

#filter-box {
    width: 25%;
    float: left;
    height: 500px;
    position: relative;
    padding: 0 0.75rem;
}

.filter-box.pinned {
    width: 25%;
    padding: 0 0.75rem;
}

.filter-box .col {
    padding: 0;
}

.filter-box .sidenav-title {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    text-align: center;
}

.filter-box .tabs {
    background: none;
}

.filter-box .tabs .tab a {
    color: #d0d0d0;
    background-color: #3e91c9;
    line-height: inherit;
}

.filter-box .tabs .tab a.active {
    color: #fff;
    background-color: #2e7cb0;
}

.filter-box .tabs .tab a:hover {
    color: #fff;
}

.filter-box .tabs .indicator {
    background-color: #fff;
    z-index: 2;
}

.filter-box .input-field.marg-top {
    margin-top: 2rem;
}

.filter-box .input-field.no-marg-top {
    margin-top: 0;
}

.filter-box .select-wrapper + label {
    color: #fff;
    top: -30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.filter-box .select-wrapper input.select-dropdown {
    border-bottom-color: #fff;
}

.filter-box .select-wrapper span.caret {
    color: #fff;
}

.filter-box .label {
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.filter-box .dropdown-content li > a, .filter-box .dropdown-content li > span {
    color: #2e7cb0;
}

.filter-box input[type=radio] + label {
    font-size: 1.1rem;
    color: #fff;
}

.filter-box [type="radio"]:checked + label:after, .filter-box [type="radio"].with-gap:checked + label:before, .filter-box [type="radio"].with-gap:checked + label:after {
    border: 2px solid #ffffff;
}

.filter-box [type="radio"]:checked + label:after, .filter-box [type="radio"].with-gap:checked + label:after {
    background-color: #ffffff;
    z-index: 0;
}

.feedback-call {
    padding: 10px 0;
}

.feedback-call input {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.feedback-call .btn {
    padding-top: 5px;
    box-shadow: none;
}

.feedback-call .btn .material-icons {
    font-size: 2rem;
}

.feedback-email .invalid input, .feedback-email .invalid textarea {
    border: 1px solid #F44336;
}

.feedback-email input, .feedback-email textarea {
    border: 2px solid #2e7cb0;
    padding: 0 10px;
    box-sizing: border-box;
    font-weight: 600;
}

.feedback-email textarea {
    padding-top: 10px;
}

.feedback-email label {
    color: #2e7cb0;
    left: 2rem;
    width: auto !important;
}

.feedback-email textarea:focus, .feedback-email input:focus {
    border-bottom: 2px solid #2e7cb0 !important;
    box-shadow: none !important;
}

.feedback-email input:focus + label, .feedback-email textarea:focus + label {
    color: #2e7cb0 !important;
    font-size: 1.2rem;
}

.contact-info .material-icons {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 3rem;
}

.r {
    font-family: "Roboto";
}

.tech-item {
    text-align: justify;
}

.tech-item .cover {
    width: 25%;
    float: left;
    margin: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {
    .tech-item .cover {
        width: 100%;
    }
}

.tech-item:nth-child(even) .cover {
    float: right;
    margin: 0 0 10px 10px;
}

.tech-item:after {
    content: '';
    display: block;
    clear: both;
}

#videobox {
    position: relative;
    height: 600px;
    width: 56%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#videobox-title {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 2;
}
.videoreview-header{
margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    z-index: 25;
}
@media screen and (max-width: 768px) {
    #videobox-title {
        position: static;
        transform: none;
    }
}

#videobox-description {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

#videobox-description p {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #videobox-description {
        position: static;
        transform: none;
    }
}

#videobox-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    #videobox-container {
        position: static;
        transform: none;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    #videobox {
        height: auto;
        width: 90%;
        margin: 0 auto;
    }
}

.table-of-contents {
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 1001;
}

@media screen and (min-width: 992px) {
    .table-of-contents {
        display: block;
    }
}

.table-of-contents a {
    display: block;
    height: 100%;
    padding: 0;
    border: none;
    transition: background-color 0.3s ease;
}

.table-of-contents a.active {
    background-color: #2e7cb0;
    border: none;
    padding: 0;
}

.table-of-contents a:hover {
    border: none;
}

.table-of-contents li {
    border: 2px solid #2e7cb0;
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    padding: 0;
}

.table-of-contents li.changed {
    border-color: #fff;
}

.table-of-contents li.changed a.active {
    background-color: #fff;
}

.close-modal-but {
    cursor: pointer;
}

.relative {
    position: relative;
}

.catalog-title {
    font-size: 2rem;
    margin: 0;
}

.catalog-item {
    overflow: hidden;
}

.catalog-item .card-image {
    overflow: hidden;
}

.catalog-item .realty-type {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 5px 10px;
    color: white;
    font-size: 1.2rem;
}

.catalog-item .card-title {
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 25%;
}

.catalog-item .card-title p {
    margin: 0 0 5px 0;
}

.catalog-item .card-title .title {
    font-weight: 400;
    font-size: 1.3rem;
}

.catalog-item .card-title .price {
    font-weight: 600;
    font-size: 1.5rem;
}

.catalog-item .card-info {
    margin-bottom: 10px;
    height: 55px;
    overflow: hidden;
}

.catalog-item .card-info .subtitle {
    font-size: 1.3rem;
    font-weight: 400;
}

.catalog-item .card-description {
    font-size: 1.1rem;
    text-align: justify;
    height: 120px;
}

.pagination li.active {
    background-color: #2e7cb0;
}

.realty-code {
    text-align: right;
}

@media screen and (max-width: 602px) {
    .realty-code {
        text-align: center;
        margin: 10px 0 5px 0;
    }
}

@media screen and (max-width: 602px) {
    .realty-code span {
        display: inline-block;
        width: 100%;
    }
}

.realty-title {
    margin: 0 !important;
    font-size: 2rem;
}

.realty .title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.realty .subtitle {
    font-size: 2rem;
    margin: 0 0 5px 0;
}

.realty .price {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
}

.realty .img-thumbnail{
    height: 50px;
    width: 50px;
}

.realty .newPrice{
    color: green;
    font-size: 2.5rem;
    margin: 0;
}
.realty .oldPrice{
    color: red;
    font-size: 2rem;
    text-decoration: line-through;
    margin: 0;
    padding-top: 10px;
}

#map-box #map {
    height: 100%;
    position: relative;
    z-index: 2;
}

.info-window .card-image {
    width: 50%;
    margin-bottom: 10px;
}

.info-window .card-content {
    width: 49%;
    margin-left: 1%;
    margin-bottom: 10px;
}

.info-window .title {
    font-weight: 400;
    font-size: 1.3rem;
}

.info-window .price {
    font-weight: 600;
    font-size: 1.5rem;
}

.info-window .subtitle {
    font-size: 1.3rem;
    font-weight: 400;
}

.info-window .description {
    font-size: 1.1rem;
    text-align: justify;
    height: 120px;
}

.realty-data table {
    font-size: 1.2rem;
}

.realty-data .tabs {
    background: none;
}

.realty-data .tabs .tab a {
    color: #3e91c9;
    font-weight: 400;
    line-height: inherit;
}

.realty-data .tabs .tab a:hover {
    color: #2e7cb0;
}

.realty-data .tabs .indicator {
    background-color: #3e91c9;
    z-index: 2;
}

.invalid input, .invalid textarea {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.invalid .help-block {
    color: #F44336;
}

.preloader {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
}

.preloader-wrapper {
    position: absolute;
    top: 45%;
    left: 45%;
}

#toast-container {
    top: 10%;
    right: auto;
    max-width: 86%;
    left: 50%;
    transform: translateX(-50%);
}

#directionBut {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 602px) {
    #directionBut {
        width: 80%;
    }
}

.service-title {
    font-size: 2rem;
}

.map-header {
    margin-top: 0 !important;
    top: 50px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 25;
}
.description-r{
    text-align: justify;
}

.action-ico{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 400;
}